.max{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.platform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-bottom: 5px;
}